.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
  color: #fff;

  &__button {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
}
